.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li.active Setup
    %li.active Staffs

= render 'layouts/flash_messages'

.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Staffs

        - if @staffs.size > 0
          %table.table.table-hover.table-text-middle
            %thead
              %th Name
              %th Email
              %th.text-center
                Status
              %th
            %tbody
              - @staffs.each do |staff|
                %tr
                  %td
                    = staff.first_name
                  %td
                    = staff.email
                  %td.text-center
                    = status_label(staff.is_active)
                  %td.text-right
                    - if staff.is_active
                      = link_to lock_staff_path(staff), method: :patch, class: "btn btn-default", data: { confirm: "Are you sure you want to lock this staff? This will deactivate the staff." } do
                        %i.fa.fa-lock.fa-fw
                    - else
                      = link_to unlock_staff_path(staff), method: :patch, class: "btn btn-default", data: { confirm: "Are you sure you want to unlock this staff? This will reactivate the staff."} do
                        %i.fa.fa-unlock-alt.fa-fw

        - else
          No invitations to be displayed.

    .panel.panel-borderless
      .panel-body
        .section-title
          .pull-right
            = link_to "New Invitation", new_invitation_path, class: "btn btn-primary"
          %h2
            Invitations

        = render 'invitations/index', invitations: @invitations

