= form_for [@center, @branch], html: { class: "form-horizontal" } do |f|

  = form_group @branch.errors[:name].present? do
    = f.label :name, class: "col-lg-2 control-label"
    .col-lg-6
      = f.text_field :name, class: "form-control", required: true, autofocus: true
      = form_errors @branch, :name

  .form-group
    .col-md-10
      = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }

      or
      = link_to "Cancel", @center
