= form_for [@center, @branch], html: { class: "form-horizontal" } do |f|

  = form_group @branch.errors[:name].present? do
    = f.label :name, class: "col-lg-2 control-label"
    .col-lg-6
      = f.text_field :name, class: "form-control", required: true, autofocus: true
      %span.help-block
        = @branch.errors[:name].join(", ")

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }

