.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Setup
    %li= link_to "Center", center_path(@center)
    %li.active Edit Branch

= render 'layouts/flash_messages'

.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Edit Branch

        = render 'form'

