.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li.active Setup
    %li= link_to "Center", center_path(@center)
    %li.active New Branch

= render 'layouts/flashes/flash_messages'

.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            New Branch

        = render 'form'

