.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h4
          %strong
            Sign Up
      .panel-body
        = devise_error_messages!
        = form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|

          - resource.key = params[:key] || resource.key

          - if resource.key.present?
            = f.hidden_field :key

          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: "form-control", autofocus: true
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: "form-control"

          - if resource.key.blank?
            .form-group
              = f.label :email
              = f.email_field :email, class: "form-control"

          .form-group
            = f.label :password
            = f.password_field :password, class: "form-control"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: "form-control"

          = f.submit "Sign Up", class: "btn btn-primary", :"data-disable-with" => "Signing up..."
          %span.signup-agreement
            By clicking Sign Up you agree to the
            = link_to "Terms of Service", terms_of_service_path
            and
            = succeed "." do
              = link_to "Privacy Policy", privacy_policy_path

.row
  .col-md-4.col-md-offset-4
    %h6.text-center
      If you've already registered, just
      = link_to "Sign In", new_user_session_path
    %h6.text-center
      Got any problem with our registration?
    %h6.text-center
      = link_to "mailto:hello@tueetion.com" do
        Contact Us

