.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Settings
    %li.active
      = link_to "Change Password", edit_password_settings_accounts_path

= render 'layouts/flash_messages'

.row
  .col-md-3
    = render 'layouts/settings_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Change Password

        = form_for @user, url: update_password_settings_accounts_path, html: { class: "form-horizontal", method: :patch } do |f|

          = form_group @user.errors[:password].present? do
            = f.label :password, "New Password", class: "col-lg-4 control-label"
            .col-lg-5
              = f.password_field :password, class: "form-control", autofocus: true, required: true, autocomplete: "off"
              %span.help-block
                = @user.errors[:password].join(", ")

          = form_group @user.errors[:password_confirmation].present? do
            = f.label :password_confirmation, class: "col-lg-4 control-label"
            .col-lg-5
              = f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: "off"
              %span.help-block
                = @user.errors[:password_confirmation].join(", ")

          = form_group @user.errors[:current_password].present? do
            = f.label :current_password, class: "col-lg-4 control-label"
            .col-lg-5
              = f.password_field :current_password, class: "form-control", required: true, autocomplete: "off"
              %span.help-block
                = @user.errors[:current_password].join(", ")

          .form-group
            .col-md-offset-4.col-md-8
              = f.submit "Update", class: "btn btn-primary", data: { :"disable-with" => "Updating..." }

