.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li.active= @student.first_name

= render 'layouts/flash_messages'

.section-title
  %h2 Student

%dl.dl-horizontal
  %dt
    Identity #
  %dd
    = @student.ic
  %dt
    First Name, Last Name
  %dd
    = succeed "," do
      = @student.first_name
    = @student.last_name
  %dt
    DOB
  %dd
    = @student.dob
  %dt
    Phone
  %dd
    = @student.phone
  %dt
    E-Mail:
  %dd
    = @student.email
  %dt
    School Name
  %dd
    = @student.school_name
  %dt
    Status
  %dd
    = @student.is_active

