.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li.active= @student.first_name

= render 'layouts/flash_messages'

.row
  .col-md-12
    .panel.panel-borderless
      .panel-body
        .section-title
          .btn-group.pull-right
            %button.btn.btn-primary.dropdown-toggle{ :"data-toggle" => "dropdown", type: "button" }
              Actions
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li
                = link_to edit_student_path(@student) do
                  %i.fa.fa-pencil.fa-fw
                  Edit
              %li
                = link_to @student, method: :delete, data: { confirm: "Are you sure you want to delete this student?" } do
                  %i.fa.fa-trash-o.fa-fw
                  Delete
              %li.divider
              %li
                = link_to student_quantity_fee_enrolls_path(@student) do
                  %i.fa.fa-play.fa-fw
                  Subject Enrollment
              %li
                = link_to student_combination_fee_enrolls_path(@student) do
                  %i.fa.fa-play.fa-fw
                  Package Enrollment
              %li.divider
              %li
                = link_to create_bill_student_path, method: :post do
                  %i.fa.fa-file-text-o.fa-fw
                  Generate Bill
          %h2 Profile

        .row
          .col-md-6
            %dl.dl-horizontal
              %dt
                Identity #
              %dd
                = @student.ic
              %dt
                First Name, Last Name
              %dd
                = succeed "," do
                  = @student.first_name
                = @student.last_name
              %dt
                DOB
              %dd
                = dash_if_blank @student.dob
              %dt
                Phone
              %dd
                = full_phone_number(@student.phone_code, @student.phone_number)
              %dt
                Backup Phone
              %dd
                = full_phone_number(@student.backup_phone_code, @student.backup_phone_number)
              %dt
                E-Mail:
              %dd
                = dash_if_blank @student.email
              %dt
                School Name
              %dd
                = dash_if_blank @student.school_name
              %dt
                URL
              %dd
                = link_to public_student_url(@student.public_key), public_student_path(@student.public_key), target: "_blank"


          .col-md-6
            %dl.dl-horizontal
              %dt
                Notes (1)
              %dd
                = dash_if_blank @student.note1
              %dt
                Notes (2)
              %dd
                = dash_if_blank @student.note2
              %dt
                Notes (3)
              %dd
                = dash_if_blank @student.note3
              %dt
                Branch
              %dd
                = dash_if_blank @student.branch.try(:name)
              %dt
                Status
              %dd
                = status_label(@student.is_active)

    .panel.panel-borderless
      .panel-body
        .section-title
          %h2 Packages &amp; Subjects

        - if @student.enrolls.count > 0
          = render 'enrolls/list', enrolls: @student.enrolls
        - else
          No enrollment yet.

    .panel.panel-borderless
      .panel-body
        .section-title
          %h2 Latest Bills

        - if @student.bills.count > 0
          = render 'bills/list', bills: @student.bills.by_latest
        - else
          No bill yet.

