.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li.active= @student.first_name

= render 'layouts/flash_messages'

.section-title
  .btn-group.pull-right
    = link_to "Enroll by Package", student_quantity_fee_enrolls_path(@student), class: "btn btn-primary"
    = link_to "Enroll by Subject", student_combination_fee_enrolls_path(@student), class: "btn btn-primary"
    = link_to "Generate Bill", generate_bill_student_path, method: :post, class: "btn btn-primary pull-right"
  %h2 Profile

%dl.dl-horizontal
  %dt
    Identity #
  %dd
    = @student.ic
  %dt
    First Name, Last Name
  %dd
    = succeed "," do
      = @student.first_name
    = @student.last_name
  %dt
    DOB
  %dd
    = @student.dob
  %dt
    Phone
  %dd
    = @student.phone
  %dt
    E-Mail:
  %dd
    = @student.email
  %dt
    School Name
  %dd
    = @student.school_name
  %dt
    Status
  %dd
    = @student.is_active

.section-title
  %h2 Packages &amp; Subjects

= render 'enrolls/list', student: @student

.section-title
  %h2 Latest Bills

= render 'bills/list', bills: @student.bills

.section-title
  %h2 Latest Payments

= render 'payments/list', payments: @payments


