%p#notice= notice

%p
  %b Ic:
  = @student.ic
%p
  %b First name:
  = @student.first_name
%p
  %b Last name:
  = @student.last_name
%p
  %b Dob:
  = @student.dob
%p
  %b Email:
  = @student.email
%p
  %b Phone:
  = @student.phone
%p
  %b School name:
  = @student.school_name

%p
  %b Active:
  = @student.is_active

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
