= form_for @settings_credit do |f|
  - if @settings_credit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@settings_credit.errors.count, "error")} prohibited this settings_credit from being saved:"
      %ul
        - @settings_credit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :center
    = f.text_field :center
  .field
    = f.label :count
    = f.number_field :count
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :transaction_number
    = f.text_field :transaction_number
  .field
    = f.label :payment_method
    = f.text_field :payment_method
  .field
    = f.label :paid_at
    = f.datetime_select :paid_at
  .actions
    = f.submit 'Save'
