.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li.active Settings
    %li.active Credits

.row
  .col-md-3
    = render 'layouts/settings_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Credits

        - if @credits.size > 0
          %table.table.table-hover.table-text-middle
            %thead
              %th #
              %th Bought At
              %th Usage
              %th
            %tbody
              - i = 0
              - @credits.each do |credit|
                %tr
                  %td
                    = i += 1
                  %td
                    = credit.transactions.map { |t| l t.created_at }.join(',')
                  %td
                    = credit.used
                    \/
                    = credit.amount
                  %td.text-right
                    = link_to settings_credit_path(credit), class: "btn btn-default" do
                      %i.fa.fa-eye.fa-fw

        - else
          No credit purchases has been made.
