.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Settings
    %li= link_to "SMS Credits", settings_credits_path
    %li.active= link_to(l(@credit.transactions.first.paid_at), settings_credit_path(@credit))

.row
  .col-md-3
    = render 'layouts/settings_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Credit

        %dl.dl-horizontal
          %dt
            Usage
          %dd
            = @credit.used
            \/
            = @credit.amount

          - @credit.transactions.each do |transaction|

            %hr

            %dt
              Reference #
            %dd
              = transaction.reference_number
            %dt
              Merchant
            %dd
              = transaction.merchant
            %dt
              Cost
            %dd
              RM
              = number_with_precision transaction.value, precision: 2
            %dt
              Paid At
            %dd
              = l transaction.paid_at
