.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Settings
    %li= link_to "Credits", settings_credits_path
    %li.active Your Credit

.row
  .col-md-3
    = render 'layouts/settings_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          .pull-right
            = link_to settings_credits_path, class: "btn btn-default" do
              %i.fa.fa-chevron-left.fa-fw
              List
          %h2
            Credit

        %dl.dl-horizontal
          %dt
            Amount
          %dd
            = number_to_currency(@credit.amount, locale: :ms)

          - @credit.transactions.each do |transaction|

            %hr

            %dt
              Reference #
            %dd
              = transaction.reference_number
            %dt
              Merchant
            %dd
              = transaction.merchant
            %dt
              Cost
            %dd
              RM
              = number_with_precision transaction.value, precision: 2
            %dt
              Paid At
            %dd
              = l transaction.paid_at
