.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li= link_to @student.first_name, @student
    %li.active Enroll Package

= render 'layouts/flashes/flash_messages'

= form_for @student, url: student_combination_fee_enrolls_path(@student), html: { class: "form-horizontal", role: "form" }, method: :post do |f|

  .row
    .col-md-12
      .panel.panel-borderless
        .panel-body
          .section-title
            .pull-right
              = link_to_add_association "Add", f, :combination_fee_enrolls, class: "btn btn-primary", data: { :"association-insertion-method" => "append", :"association-insertion-node" => "#combination_fee_enrolls_target" }
            %h2
              Enroll Package

          - if @student.errors.any?
            .alert.alert-danger.alert-dismissible{ role: "alert" }
              %button.close{ :"data-dismiss" => "alert", type: "button" }
                %span{ :"aria-hidden" => true } &times;
                %span.sr-only Close
              %strong
                Error
              %ul
                - @student.errors.messages.each do |msg|
                  %li
                    = msg[1].join(',')

          = f.fields_for :combination_fee_enrolls do |builder|
            = render "combination_fee_enroll_fields", f: builder

          #combination_fee_enrolls_target

          .form-group
            .col-lg-12
              .col-lg-offset-2.col-lg-10
                = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }
                or
                = link_to "Cancel", @student

