.features
  .container
    .row
      .col-md-10.col-md-offset-1
        .media
          = link_to asset_path('features/feature-dashboard.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Dashboard' } do
            = image_tag asset_path('features/feature-dashboard-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Dashboard

          You’ll get status overview of your entire business in one page. You can quickly inspect various data without clicking lots of links.

        %hr

        .media
          = link_to asset_path('features/feature-data-entry.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Simple Data Entry' } do
            = image_tag asset_path('features/feature-data-entry-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Simple Data Entry

          Everyone dislike data entry. That's why we strive to make data entry as simple and quick as possible. You will only need to enter important fields.

        %hr

        .media
          = link_to asset_path('features/feature-bill.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Bill Management' } do
            = image_tag asset_path('features/feature-bill-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Bill Management

          With bill management, everything related to bill can be accessed in one place. You can list, search, sort and many more with it.

        %hr

        .media
          = link_to asset_path('features/feature-print.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Print' } do
            = image_tag asset_path('features/feature-print-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Print

          You don’t have to worry about your paper billing. We have put together the functionality to print bill to A5 paper.

        %hr

        .media
          = link_to asset_path('features/feature-sms.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'SMS Messaging' } do
            = image_tag asset_path('features/feature-sms-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              SMS Messaging

          You read it right! We got Short Messaging Service (SMS) integrated. No more typing phone number manually. All you have to is choose the student or you can even choose a group of student for faster messaging.

        %hr

        .media
          = link_to asset_path('features/feature-template.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'SMS Template' } do
            = image_tag asset_path('features/feature-template-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              SMS Template

          With our powerful SMS template editor, you can insert values such as name, remaining payment and others from Tueetion directly into your message.

        %hr

        .media
          = link_to asset_path('features/feature-reports.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Multiple Reports' } do
            = image_tag asset_path('features/feature-reports-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Multiple Reports

          Using reports from Tueetion you can assess your business performance and plan for the future based on your past. This will significant in making sure you stay relevant and profit at the same time.

        %hr

        .media
          = link_to asset_path('features/feature-charts.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Charts' } do
            = image_tag asset_path('features/feature-charts-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Charts

          What good reports without charts. Tueetion has prepared a lot of charts in proper places to ensure you can grasp information regarding your business easier and faster.

        %hr

        .media
          = link_to asset_path('features/feature-customization.png'), class: 'pull-right', data: { lightbox: 'feature', title: 'Customization' } do
            = image_tag asset_path('features/feature-customization-thumb.png'), class: 'media-object img-thumbnail'

          .media-body
            %h4.media-heading
              Customization

          Most business has different needs. With that in mind, Tueetion allows you to customize it based on your business needs.

= render 'fronts/get_started'
= render 'fronts/footer'
