  <div id="headerwrap">
    <div class="container">
      <div id="intro">
        <div class="inner">
          <div class="intro-lead">
            <h1>
              Minimize your work.
              <br>
              <span class="sub-h1">Manage your learning center better.</span>
            </h1>
          <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-success">Try Tueetion Free</a>
          <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-warning">Features</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="marketing">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 right-border">
          <img src="<%= asset_path 'easy-icon.png' %>">
          <h3>Easy to use</h3>
          Tueetion is a simple, lightweight and easy application used for managing students in learning center.
        </div>
        <div class="col-md-3 right-border">
          <img src="<%= asset_path 'no-install-icon.png' %>">
          <h3>No Installation</h3>
          Unlike other solutions, you just need to Sign Up and you are ready to use it.
        </div>
        <div class="col-md-3 right-border">
          <img src="<%= asset_path 'security-icon.png' %>">
          <h3>Security</h3>
          We paid special attention to security so that your business data will be well protected.
        </div>
        <div class="col-md-3">
          <img src="<%= asset_path 'fast-icon.png' %>">
          <h3>Fast</h3>
          Every page is built with speed in mind so that you can focus on what is truly matters
        </div>
      </div>
    </div>
  </div>

  <div class="try-now">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span>Get Started in 60 seconds</span>
          <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-success">Try Tueetion Free</a>
          <span> Questions? hello@deebzy.com</span>
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-3 about-nav">
          <strong>Product</strong>
          <a href="#">Features</a>
          <a href="#">Pricing</a>
          <a href="#">Help &amp; Support</a>
        </div>
        <div class="col-md-3 about-nav">
          <strong>Company</strong>
          <a href="#">About Us</a>
          <a href="<%= privacy_policy_path %>">Privacy</a>
          <a href="#">Term</a>
          <a href="#">Contact</a>
        </div>
        <div class="col-md-offset-3 col-md-3 about-social">
        </div>
      </div>
    </div>
  </div>
