#box-sm.row
  .col-md-12.hidden-xs.spacer
  .col-md-4.col-md-offset-4
    %h1.text-center
      Tueetion
    .panel.panel-default
      .panel-body
        = render 'layouts/flash_messages'

        %p
          %strong
            Reset your password
        = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
          = form_group resource.errors[:email].present? do
            = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
            %span.help-block
              = resource.errors[:email].join(", ")


          = f.submit "Reset password", class: "btn btn-primary", :"data-disable-with" => "Sending..."
          or
          = link_to "Sign in", new_user_session_path

.row
  .col-md-4.col-md-offset-4
    %h6.text-center
      Not sure how to do this?
    %h6.text-center
      = link_to "mailto:hello@tueetion.com" do
        Send us an e-mail

