= form_for @center do |f|
  = form_group @center.errors[:name].present? do

    = f.label :name
    = f.text_field :name, class: "form-control", required: true, autocomplete: "off"
    %span.help-block
      = @center.errors[:name].join(", ")

    = f.submit "Save", class: "btn btn-primary"
    or
    = link_to "Cancel", center_path(@center)

