.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li.active Setup
    %li= link_to "Center", current_center
    %li.active Bulks

= render 'layouts/flash_messages'

.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-default
      .panel-heading
        Create Bills
      .panel-body
        Create bills for all of the active students in the current month.
      .panel-footer
        = link_to "Run", create_bills_centers_path, class: "btn btn-default" 


    .panel.panel-default
      .panel-heading
        Deactivate Bills
      .panel-body
        Deactivate bills for all of the active students in the current month.
      .panel-footer
        = link_to "Run", deactivate_bills_centers_path, class: "btn btn-default" 

    .panel.panel-default
      .panel-heading
        Overdue Bills
      .panel-body
        Mark every active and non overdue bills to overdued bills.
      .panel-footer
        = link_to "Run", overdue_bills_centers_path, class: "btn btn-default" 

