%h1 Listing centers

.row
  .large-12.columns
    %table{ width: "100%" }
      %thead
        %tr
          %th Name
          %th asdf
          %th aa
          %th

      %tbody
        - @centers.each do |center|
          %tr
            %td= center.name
            %td= link_to 'Show', center
            %td= link_to 'Edit', edit_center_path(center)
            %td= link_to 'Destroy', center, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

= link_to 'New Center', new_center_path
