.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Setup
    %li.active
      = link_to "Center", center_path(@center)

= render 'layouts/flash_messages'

.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          .pull-right
            = link_to "Change the name", edit_center_path(@center), class: "btn btn-primary"
          %h2
            Center
        %h4
          = @center.name

    .panel.panel-borderless
      .panel-body
        .section-title
          .pull-right
            = link_to "New Branch", new_center_branch_path(@center), class: "btn btn-primary"
          %h2
            Branches

        = render 'branches/index', center: @center, branches: @center.branches


    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Staffs
