%table.table.table-hover.table-text-middle
  %thead
    %tr
      %th #
      %th Bill #
      %th Created at
      %th Period
      %th.text-right
        Amounts (RM)
      %th.text-center Status
      %th
  %tbody
    - i = 0
    - bills.each do |bill|
      %tr
        %td= i = i + 1
        %td= bill.number
        %td= l bill.created_at.in_time_zone("Kuala Lumpur"), format: :date
        %td
          = I18n.t("date.month_names")[bill.month]
          = bill.year
        %td.text-right
          = number_with_precision(bill.total_amount, precision: 2)
        %td.text-center
          = bill_status_label(bill.is_paid, "PAID", "UNPAID")
          - if bill.is_overdue
            = bill_status_label(bill.is_overdue, "", "OVERDUE")
        %td.text-right
          = link_to bill, class: "btn btn-default" do
            %i.fa.fa-eye.fa-fw

