%h1 Listing bills

%table
  %tr
    %th Center
    %th Student
    %th Number
    %th Total amount
    %th Is overdue
    %th Is paid
    %th Overdue at
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.center
      %td= bill.student
      %td= bill.number
      %td= bill.total_amount
      %td= bill.is_overdue
      %td= bill.is_paid
      %td= bill.overdue_at
      %td= link_to 'Show', bill
      %td= link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path
