.breadcrumb-container
  %ol.breadcrumb
    %li
      = link_to "Home", root_path
    %li.active Bills

= render 'layouts/flash_messages'

.section-title
  %h2 Bills

%table.table.table-hover
  %thead
    %tr
      %th #
      %th Bill #
      %th Student Name
      %th Period
      %th Total Amount
      %th Status
      %th
  %tbody
  - @bills.each do |bill|
    %tr
      %td #
      %td= bill.number
      %td
        = succeed "," do
          = bill.student.first_name
        = bill.student.last_name
      %td
        = bill.month
        \/
        = bill.year
      %td= bill.total_amount
      %td
        = bill.is_paid
        = bill.is_overdue
      %td.text-right
        = link_to 'Show', bill
        \/
        = link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

