.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li= link_to @student.first_name, @student
    %li.active= @bill.full_number

= render 'layouts/flash_messages'

.row
  .col-md-12
    .panel.panel-borderless
      .panel-body
        .section-title
          .btn-group.pull-right
            %button.btn.btn-default.dropdown-toggle{ :"data-toggle" => "dropdown", type: "button" }
              Actions
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              - if @bill.is_active
                %li
                  = link_to "Add Bill Item", new_bill_bill_item_path(@bill)
                %li
                  = link_to "Add Payment", new_bill_payment_path(@bill)
                %li.divider
                %li
                  = link_to "Print", bill_path(@bill, format: :pdf)
                %li.divider
              %li
                - if @bill.is_active
                  = link_to "Deactivate Bill", deactivate_bill_path(@bill), method: :patch
                - else
                  = link_to "Activate Bill", activate_bill_path(@bill), method: :patch

          %h2= @bill.full_number

        %dl.dl-horizontal
          %dt
            Student's Name
          %dd
            = @bill.student.first_name
            = @bill.student.last_name
          %dt
            Total (RM)
          %dd
            = number_with_precision(@bill.total_amount, precision: 2)
          %dt
            Total Paid (RM)
          %dd
            = number_with_precision(@bill.total_amount_paid, precision: 2)
          %dt
            Status
          %dd
            = all_bill_status(@bill)

    .panel.panel-borderless
      .panel-body
        .section-title
          %h2 Bill Items

        - if @bill.bill_items.size > 0
          = render 'bill_items/list', bill: @bill, bill_items: @bill.bill_items
        - else
          No bill item specified.

    .panel.panel-borderless
      .panel-body
        .section-title
          %h2 Payments

        - if @bill.payments.size > 0
          = render 'payments/list', payments: @bill.payments
        - else
          No payment has been made.

