.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Bills", bills_path
    %li.active= @bill.number

= render 'layouts/flash_messages'

.section-title
  %h2
    Bill
    = "##{@bill.number}"

%dl.dl-horizontal
  %dt
    Student's Name
  %dd
    = @bill.student.first_name
    = @bill.student.last_name
  %dt
    Total Amount
  %dd
    = @bill.total_amount
  %dt
    Overdue
  %dd
    = @bill.is_overdue
  %dt
    Paid
  %dd
    = @bill.is_paid

