= form_for @quantity_fee, html: { class: "form-horizontal", role: "form" } do |f|

  = form_group @quantity_fee.errors[:name].present? do
    = f.label :name, class: "col-lg-2 control-label"
    .col-lg-5
      = f.text_field :name, class: "form-control"
      = form_errors @quantity_fee, :name

  = form_group @quantity_fee.errors[:subject_id].present? || @quantity_fee.errors[:subject].present? do
    = f.label :subject_id, class: "col-lg-2 control-label"
    .col-lg-5
      = f.select :subject_id, @subjects_for_select, {}, { class: "form-control" }
      = form_errors @quantity_fee, :subject_id, :subject

  = form_group @quantity_fee.errors[:price].present? do
    = f.label :price, class: "col-lg-2 control-label"
    .col-lg-2
      = f.text_field :price, class: "form-control", value: number_with_precision(@quantity_fee.price, precision: 2), placeholder: "10.00"
      = form_errors @quantity_fee, :price

  .form-group
    .col-lg-offset-2.col-lg-10
      .checkbox
        = f.check_box :is_active
        Active

  .form-group
    .col-lg-offset-2.col-lg-10
      %button.btn.btn-primary{ type: "submit"}
        Save
      or
      = link_to "Cancel", quantity_fees_path

