= form_for @quantity_fee do |f|
  - if @quantity_fee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quantity_fee.errors.count, "error")} prohibited this quantity_fee from being saved:"
      %ul
        - @quantity_fee.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
