.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li.active Setup
    %li= link_to "Quantity Fees", quantity_fees_path
    %li= link_to @quantity_fee.name, @quantity_fee
    %li.active Edit

= render 'layouts/flashes/flash_messages'

.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Edit Quantity Fee

        = render 'form'

