.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Setup
    %li.active Quantity Fees

= render 'layouts/flash_messages'


.row
  .col-md-3
    = render 'layouts/setup_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          = link_to "New Quantity Fee", new_quantity_fee_path, class: "btn btn-primary pull-right"
          %h2 Quantity Fees

        - if @quantity_fees.size
          %table.table.table-hover.table-text-middle
            %thead
              %tr
                %th #
                %th Name
                %th Subject
                %th.text-right
                  Price (RM)
                %th.text-center
                  Status
                %th
            %tbody
            - i = 0
            - @quantity_fees.each do |quantity_fee|
              %tr
                %td= i = i + 1
                %td
                  = quantity_fee.name
                %td
                  = quantity_fee.subject.name
                %td.text-right
                  = number_with_precision(quantity_fee.price, precision: 2)
                %td.text-center
                  = status_label(quantity_fee.is_active)
                %td.text-right
                  = link_to quantity_fee, class: "btn btn-default" do
                    %i.fa.fa-eye.fa-fw

        - else
          No Quantity Fee has been added.

