= form_for @invitation, html: { class: "form-horizontal" } do |f|

  = form_group @invitation.errors[:email].present? do
    = f.label :email, class: "col-lg-2 control-label"
    .col-lg-6
      = f.text_field :email, class: "form-control", type: "email", required: true, autofocus: true
      %span.help-block
        = @invitation.errors[:email].join(", ")

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }

