.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li= link_to @bill.student.first_name, @student
    %li= link_to @bill.real_number, @bill
    %li.active Edit Bill Item

= render 'layouts/flash_messages'

.row
  .col-md-12
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Edit Bill Item

        = render 'form'

