.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Bills", bills_path
    %li= link_to @bill.number, @bill
    %li.active Edit Bill Item

= render 'layouts/flash_messages'

.section-title
  %h2 Edit Bill Item

= render 'form'

