.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li= link_to "?", @bill.student
    %li= link_to @bill.number, @bill
    %li.active New Bill Item

= render 'form'
