= form_for @subject, html: { class: "form-horizontal", role: "form" } do |f|

  = form_group @subject.errors[:name].present? || @subject.errors[:is_active].present? do
    = f.label :name, class: "col-lg-2 control-label"
    .col-lg-6
      = f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true
      = form_errors @subject, :name, :is_active

  .form-group
    .col-lg-offset-2.col-lg-10
      .checkbox
        %label
          = f.check_box :is_active
          Active

  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }
      or
      - if @subject.new_record?
        = link_to "Cancel", subjects_path
      - else
        = link_to "Cancel", @subject

