.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Subjects", subjects_path
    %li= link_to @subject.name, @subject
    %li.active Edit Subject

= render 'layouts/flash_messages'

.section-title
  %h2 Edit subject

= render 'form'

