.breadcrumb-container
  %ol.breadcrumb
    %li
      = link_to "Home", root_path
    %li.active Subjects

= render 'layouts/flash_messages'

.section-title
  = link_to "New Subject", new_subject_path, class: "btn btn-primary pull-right"
  %h2 Subjects

%table.table.table-hover
  %thead
    %tr
      %th #
      %th Name
      %th Status
      %th
  %tbody
  - @subjects.each do |subject|
    %tr
      %td #
      %td= subject.name
      %td= subject.is_active
      %td.text-right
        = link_to 'Show', subject
        \/
        = link_to 'Edit', edit_subject_path(subject)
        \/
        = link_to 'Destroy', subject, :method => :delete, :data => { :confirm => 'Are you sure?' }

