.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Subjects", subjects_path
    %li.active= @subject.name

= render 'layouts/flash_messages'

.section-title
  %h2 Subject

%dl.dl-horizontal
  %dt
    Name
  %dd
    = @subject.name
  %dt
    &nbsp;
  %dd
    = @subject.is_active
  %dt
    Created at:
  %dd
    = @subject.created_at.in_time_zone("Kuala Lumpur")
  %dt
    Updated at:
  %dd
    = @subject.updated_at.in_time_zone("Kuala Lumpur")

