#box-sm.row
  .col-md-12.hidden-xs.spacer
  .col-md-4.col-md-offset-4
    %h1.text-center
      Tueetion
    .panel.panel-default
      .panel-body
        = render 'layouts/flash_messages'

        = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
          .form-group
            = f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email"

          .form-group
            = f.password_field :password, class: "form-control", placeholder: "Password"

          - if devise_mapping.rememberable?
            .checkbox
              %label
                = f.check_box :remember_me
                Remember me

          = f.submit "Sign in", class: "btn btn-primary", :"data-disable-with" => "Signing in..."
          or
          = link_to "Forgot Password", new_password_path(resource_name)
.row
  .col-md-4.col-md-offset-4
    %h6.text-center
      Don't have a Tueetion account?
    %h6.text-center
      = link_to new_user_registration_path do
        Sign up now for 1 months free trial

