.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Settings
    %li= link_to "Subscriptions", settings_subscriptions_path
    %li.active Your Subscription

.row
  .col-md-3
    = render 'layouts/settings_sidebar'

  .col-md-9
    .panel.panel-borderless
      .panel-body
        .section-title
          .pull-right
            = link_to settings_subscriptions_path, class: "btn btn-default" do
              %i.fa.fa-chevron-left.fa-fw
              List
          %h2
            Subscription

        %dl.dl-horizontal
          %dt
            Quantity
          %dd
            = @subscription.quantity
          %dt
            Start at
          %dd
            = l @subscription.start_at.in_time_zone("Kuala Lumpur")
          %dt
            End at
          %dd
            = l @subscription.end_at.in_time_zone("Kuala Lumpur")

          - @subscription.transactions.each do |transaction|

            %hr

            %dt
              Reference #
            %dd
              = transaction.reference_number
            %dt
              Merchant
            %dd
              = transaction.merchant
            %dt
              Cost
            %dd
              RM
              = number_with_precision transaction.value, precision: 2
            %dt
              Paid At
            %dd
              = l transaction.paid_at
