= render 'layouts/flashes/flash_messages'

.row
  .col-md-3
    .panel.panel-borderless
      .panel-body.panel-status
        %h3
          &infin;
        %p
          Students

  .col-md-3
    .panel.panel-borderless
      .panel-body.panel-status
        %h3
          = number_to_currency(@credit_balance, locale: :ms)
        %p
          Credits

  .col-md-3
    .panel.panel-borderless
      .panel-body.panel-status
        %h3
          = @unpaid_bill_counts
        %p
          Unpaid Bills

  .col-md-3
    .panel.panel-borderless
      .panel-body.panel-status
        %h3
          = @overdue_bill_counts
        %p
          Overdue Bills

- if current_user.is_owner?
  .row
    .col-md-12
      .panel.panel-borderless
        .panel-body
          - data = payments_chart_data
          #dashboard-chart{ data: { month: @current_month, categories: "#{(1..data.length).to_a}", values: "#{data}" } }

.row
  .col-md-6
    .row
      .col-md-12
        .panel.panel-borderless
          .panel-body
            .section-title
              %h3
                Latest Payments

            = render 'payments/latest_payment_list', payments: @payments



  .col-md-6
    .row
      .col-md-12
        .panel.panel-borderless
          .panel-body
            .section-title
              %h3
                Latest Overdue Bills

            = render 'bills/latest_overdue_list', bills: @overdue_bills
