= form_for @combination_fee do |f|
  - if @combination_fee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@combination_fee.errors.count, "error")} prohibited this combination_fee from being saved:"
      %ul
        - @combination_fee.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :min_subjects
    = f.number_field :min_subjects
  .field
    = f.label :max_subjects
    = f.number_field :max_subjects
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
