= form_for @combination_fee, html: { class: "form-horizontal", role: "form" } do |f|

  = form_group @combination_fee.errors[:name].present? do
    = f.label :name, class: "col-lg-3 control-label"
    .col-lg-5
      = f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true
      = form_errors @combination_fee, :name

  = form_group @combination_fee.errors[:price].present? do
    = f.label :price, class: "col-lg-3 control-label"
    .col-lg-2
      = f.text_field :price, class: "form-control", value: number_with_precision(@combination_fee.price, precision: 2), placeholder: "10.00"
      = form_errors @combination_fee, :price

  .form-group
    .col-lg-offset-3.col-lg-9
      .checkbox
        = f.check_box :is_active
        Active

  .form-group
    .col-lg-offset-3.col-lg-9
      %button.btn.btn-primary{ type: "submit"}
        Save
      or
      = link_to "Cancel", combination_fees_path

