.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Combination Fees", combination_fees_path
    %li.active= @combination_fee.id

= render 'layouts/flash_messages'

.section-title
  %h2 Combination Fee

%dl.dl-horizontal
  %dt
    Name
  %dd
    = @combination_fee.name
  %dt
    Subjects (Min - Max)
  %dd
    = @combination_fee.min_subjects
    \-
    = @combination_fee.max_subjects
  %dt
    Price
  %dd
    = number_with_precision(@combination_fee.price, precision: 2)
  %dt
    Status
  %dd
    = @combination_fee.is_active
  %dt
    Created at:
  %dd
    = l @combination_fee.created_at.in_time_zone("Kuala Lumpur")
  %dt
    Updated at:
  %dd
    = l @combination_fee.updated_at.in_time_zone("Kuala Lumpur")

