%h1 Listing combination_item_fees

%table
  %tr
    %th Combination item fee
    %th Subject
    %th
    %th
    %th

  - @combination_item_fees.each do |combination_item_fee|
    %tr
      %td= combination_item_fee.combination_fee
      %td= combination_item_fee.subject
      %td= link_to 'Show', [@combination_fee, combination_item_fee]
      %td= link_to 'Edit', edit_combination_fee_combination_item_fee_path(@combination_fee, combination_item_fee)
      %td= link_to 'Destroy', [@combination_fee, combination_item_fee], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Combination item fee', new_combination_fee_combination_item_fee_path(@combination_fee)
