.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Combination Fees", combination_fees_path
    %li= link_to @combination_fee.name, @combination_fee
    %li.active New Combination Item Fee

= render 'layouts/flash_messages'

.section-title
  %h2 New Combination Item Fee

= render 'form'
