.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li= link_to "Students", students_path
    %li= link_to @student.first_name, @student
    %li.active Change Subjects

= render 'layouts/flash_messages'

.row
  .col-md-12
    .panel.panel-borderless
      .panel-body
        .section-title
          %h2
            Package Subjects

        = form_for @combination_fee_enroll, url: student_combination_fee_enroll_subject_path(@student, @combination_fee_enroll), html: { class: "form-horizontal", role: "form" }, method: :patch do |f|

          .form-group
            .col-lg-offset-2.col-lg-10
              - @combination_fee_enroll.enrollable.subjects.active.each do |subject|
                .checkbox
                  = hidden_field_tag "combination_fee_enroll[subject_ids][]", nil
                  = check_box_tag "combination_fee_enroll[subject_ids][]", subject.id, @combination_fee_enroll.subject_ids.include?(subject.id), id: dom_id(subject)
                  = label_tag dom_id(subject), subject.name

          -# .form-group
            .col-lg-offset-2.col-lg-10
              - @combination_fee_enroll.enrollable.subjects.active.each do |subject|
                .checkbox
                  = hidden_field_tag "combination_fee_enroll[enroll_subject_ids][]", nil
                  = check_box_tag "combination_fee_enroll[enroll_subject_ids][]", subject.id, @combination_fee_enroll.subject_ids.include?(subject.id), id: dom_id(subject)
                  = label_tag dom_id(subject), subject.name


          .form-group
            .col-lg-12
              .col-lg-offset-2.col-lg-10
                = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }
                or
                = link_to "Cancel", @student

