= form_for [:admin, @credit], html: { class: "form-horizontal", role: "form" } do |f|

  = form_group @credit.errors[:center_id].present? do
    = f.label :center_id, "Center", class: "col-lg-2 control-label"
    .col-lg-4
      = f.select :center_id, @centers, {}, class: "form-control"
      = form_errors @credit, :center_id

  = form_group @credit.errors[:amount].present? do
    = f.label :amount, class: "col-lg-2 control-label"
    .col-lg-1
      = f.text_field :amount, class: "form-control"

  = f.fields_for :transactions do |builder|
    = render "admin/transactions/transaction", f: builder

  .form-group
    .col-lg-offset-2.col-lg-10
      %button.btn.btn-primary{ type: "submit"}
        Save
      or
      = link_to "Cancel", admin_credits_path

