= render 'layouts/flash_messages'

.row
  .col-md-12
    .panel.panel-borderless
      .panel-body
        .section-title
          .btn-group.pull-right
            %button.btn.btn-default.dropdown-toggle{ :"data-toggle" => "dropdown", type: "button" }
              Actions
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li
                = link_to "Edit", edit_admin_credit_path(@credit)
              %li.divider
              %li
                = link_to "Delete", [:admin, @credit], method: :delete, data: { confirm: "Are you sure you want to delete this credit?" }

          %h2 Credit

        %dl.dl-horizontal
          %dt
            Center
          %dd
            = @credit.center.name
          %dt
            Amount
          %dd
            = number_to_currency(@credit.amount, locale: :ms)

          - @credit.transactions.each do |transaction|

            %hr

            %dt
              Reference #
            %dd
              = transaction.reference_number
            %dt
              Merchant
            %dd
              = transaction.merchant
            %dt
              Value
            %dd
              = number_to_currency(transaction.value, locale: :ms)
            %dt
              Paid At
            %dd
              = l transaction.paid_at
