.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "Tueetion", root_path, class: "navbar-brand"
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Students", students_path
      %li
        = link_to "Bills", bills_path
      %li
        = link_to "SMS", messages_path
      %li
        %a{ href: "#" } Reports
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Setup
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Center", center_path(current_center.id)
          %li
            = link_to "Staffs", staffs_path
          %li
            = link_to "Invitations", invitations_path
          %li.divider
          %li
            = link_to "Groups", groups_path
          %li
            = link_to "Subjects", subjects_path
          %li.divider
          %li.dropdown-header Fees
          %li
            = link_to "Quantity Based", quantity_fees_path
          %li
            = link_to "Combination Based", combination_fees_path
    %ul.nav.navbar-nav.navbar-right
      - if current_user.is_admin
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Admin
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to "Users", admin_users_path
      %li
        %a{ href: "#" } Docs
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Account
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Profile", edit_settings_accounts_path
          %li
            = link_to "Change Password", edit_password_settings_accounts_path
          %li
            = link_to "Subscriptions", settings_subscriptions_path
          %li.divider
          %li
            = link_to "Sign out", destroy_user_session_path, method: :delete

= yield
