<!DOCTYPE html>
<head>
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Tueetion</title>

<%= stylesheet_link_tag    "application" %>
<%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Tueetion</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= new_user_session_path %>">Sign In</a></li>
            <li><a href="<%= destroy_user_session_path %>" data-method="delete">Sign Out</a></li>
            <li><a href="<%= edit_user_registration_path %>">Edit</a></li>
            <li><a href="<%= new_user_registration_path %>">Register</a></li>
            <li><a href="<%= centers_path %>">Centers</a></li>
            <li><a href="<%= combination_fees_path %>">Combination Fee</a></li>
            <li><a href="<%= quantity_fees_path %>">Quantity Fee</a></li>
            <li><a href="<%= students_path %>">Students</a></li>
            <li><a href="<%= subjects_path %>">Subjects</a></li>
          </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="./">Default</a></li>
          <li><a href="../navbar-static-top/">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>

    <% unless notice.nil? %>
      <div data-alert class="alert-box">
        <%= notice %>
        <a href="" class="close">×</a>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div data-alert class="alert-box alert">
        <%= alert %>
        <a href="" class="close">×</a>
      </div>
    <% end %>

    <!-- End Navigation -->
    <%= yield %>
    <!-- Footer -->
    <!-- End Footer -->
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
