<%= render 'layouts/header' %>

<body>
  <% if current_user %>
    <% if current_user.access_level > User::OWNER_LEVEL %>
      <%= render 'layouts/admin' %>
    <% else %>
      <%= render 'layouts/user' %>
    <% end %>
  <% else %>
    <%= render 'layouts/guest' %>
  <% end %>
  <%= render 'layouts/google_analytics' if Rails.env.production? %>
</body>
</html>
