<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Tueetion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">

    <% if current_user %>
      <%= render 'layouts/user' %>
    <% else %>
      <%= render 'layouts/guest' %>
    <% end %>

    <div class="footer">
      <p>© Deebzy 2013</p>
    </div>
  </div>
</body>
</html>
