<%= render 'layouts/header' %>

<body data-ga="<%= @ga_id %>">
  <div class="container">

    <% if current_user %>
      <% if current_user.access_level > User::OWNER_LEVEL %>
        <%= render 'layouts/admin' %>
      <% else %>
        <%= render 'layouts/user' %>
      <% end %>
    <% else %>
      <%= render 'layouts/guest' %>
    <% end %>

    <div class="footer">
      <p>&copy; 2014 Deebzy</p>
    </div>
  </div>
</body>
</html>
